[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
pysqlite3 = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-socketio = "*"
flask-marshmallow = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
flask-session = "*"
gunicorn = "==20.1.0"
eventlet = "==0.30.2"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
init_db = "python init_db.py"
start = "gunicorn game:app"
dev = "flask run -p ${PORT}"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
