[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
pysqlite3 = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-socketio = "*"
flask-marshmallow = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
init_db = "python init_db.py"
start = "gunicorn listings:app"
dev = "flask run -p ${PORT}"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
